<mat-stepper class="stepper" [orientation]="'vertical'" [linear]="'true'" #stepper>
  <mat-step [stepControl]="solarPanels" label="Choose your desired components" state="basket">
    <form>
      <p>Choose the product components that best fit your needs. Currently, our offerings are limited to solar panels in
        the ongoing development phase. However, we are actively working towards expanding our product range to
        include comprehensive energy storage systems supplied by our trusted partners.</p>
      <span class="example-list-section">
        <p><mat-checkbox [formControl]="solarPanels" class="example-margin">Solar panels</mat-checkbox></p>
        <p><mat-checkbox [formControl]="energyStorage" class="example-margin">Energy storage</mat-checkbox></p>
      </span>
      <div class="mat-stepper-buttons">
        <button mat-button matStepperNext [disabled]="solarPanels.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="monthlyBill" label="State your average monthly electricity bill" state="money">
    <form>
      <p>Based on your information, we calculate the optimum number of solar modules to cover your electricity
        requirements. We strictly uphold privacy standards, and the information is solely used for the purpose of
        evaluating the optimal solar configuration for your specific needs</p>
      <mat-form-field class="full">
        <mat-label>Electricity bill</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="Eg. 500" [formControl]="monthlyBill"
          required>
        <span matTextSuffix>,00 €</span>
        @if (monthlyBill.hasError('min') && !monthlyBill.hasError('required')) {
        <mat-error>Please enter a amount over 20 €</mat-error>
        }
        @if (monthlyBill.hasError('max') && !monthlyBill.hasError('required')) {
        <mat-error>Please enter a amount under 2.000 €</mat-error>
        }
        @if (monthlyBill.hasError('required')) {
        <mat-error>Electricity bill is required</mat-error>
        }
      </mat-form-field>
      <div class="mat-stepper-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="monthlyBill.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addressQuery" label="Search for your address" state="location">
    <form>
      <p>By entering your address, we conduct a search to precisely locate the position of your roof. This ensures
        accurate data for subsequent processes such as roof area measurement and solar configuration calculations.
        Please note that, in order to provide you with our services, we will securely forward this data to our partner
        Google.</p>
      <mat-form-field class="full">
        <mat-label>Address</mat-label>
        <input matInput [formControl]="addressQuery" placeholder="Eg. Albertus-Magnus-Platz, 50923 Köln" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="findCoordinates()" [disabled]="addressQuery.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Confirm location" state="visibility">
    <div *ngIf="googleMapsPreviewUrl.toString() != 'https://localhost'; else progressBar">
      <p>Before proceeding with the measurement of your roof area and the calculation of the optimal solar
        configurations, kindly verify that we have accurately identified your property.</p>
      <iframe width="100%" height="400" frameborder="0" style="border: 0; padding-bottom: 22px;"
        referrerpolicy="no-referrer-when-downgrade" [src]="googleMapsPreviewUrl.toString() | safe: 'resourceUrl'"
        allowfullscreen>
      </iframe>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="getBuildingInsights()">Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Select solar panel configuration" state="build" [completed]="false">
    <div *ngIf="buildingInsights; else progressBar">
      <p>Based on our <span title="Google Solar API">partners</span> data from {{ imageryDate }} the roof
        of your specified building measures {{ buildingInsights?.solarPotential.wholeRoofStats.areaMeters2 |
        number:'1.0-0' }} square meters and can fit a maximum number of {{
        buildingInsights?.solarPotential.maxArrayPanelsCount | number:'1.0-0' }} solar panels. Considering your monthly
        electricity bill averages {{ monthlyBill.value | currency: 'EUR' }}, we calculated the following setups.
      </p>
      <mat-slider [min]="0" [max]="solarPanelConfigs?.length - 1" step="1">
        <input matSliderThumb [formControl]="solarPanelSlider"
          (ngModelChange)="calculateSolarSavings(solarPanelSlider.value!)">
      </mat-slider>
      <span
        style="padding-left: 16px;">{{ solarPanelConfigs[solarPanelSlider.value!].panelsCount }}/{{ solarPanelConfigs[solarPanelConfigs?.length - 1].panelsCount }} solar panels producing a total of {{ solarPanelConfigs[solarPanelSlider.value!].yearlyEnergyDcKwh | number:'1.0-0' }} kWh</span>
      <blockquote>The installation cost represents the total cost of installing the solar panels. The
        calculation is based on the size of the installation, where each kilowatt-peak (kWp) costs an estimated 1400
        Euros. One solar panel measures {{ buildingInsights?.solarPotential.panelHeightMeters | number:'1.0-0' }} m in
        height and {{ buildingInsights?.solarPotential.panelWidthMeters | number:'1.0-0' }} m in width and has a
        capacity of {{ buildingInsights?.solarPotential.panelCapacityWatts | number:'1.0-0' }} W.
      </blockquote>
      <p>Installation cost: {{ installationCost | currency: 'EUR' }}</p>
      <blockquote>The total cost with solar is the overall cost associated with the installation of solar panels over a
        20-year period. It considers both the installation cost and the remaining lifetime utility bill while accounting
        for any incentives.
      </blockquote>
      <p><span title="Total Cost with Solar = Installation Cost + Remaining Lifetime Utility Bill - Incentives">Total
          cost with solar:</span> {{ totalCostWithSolar | currency: 'EUR' }}<br>
        Cost of electricity without solar: {{ costOfElectricityWithoutSolar | currency: 'EUR' }}</p>
      <blockquote>The savings represent the estimated financial benefit achieved by installing solar panels over their
        expected 20-year lifetime. Positive values indicate a cost-saving, while negative values suggest that the cost
        of electricity without solar is lower than the total cost with solar. It is calculated by subtracting the total
        cost with solar from the cost of electricity without solar.
      </blockquote>
      <p><span title="Savings = Cost of Electricity without Solar - Total Cost with Solar">Savings:</span> {{ savings |
        currency: 'EUR' }}</p>
      <blockquote>
        For an upcoming release, we are working on visualising the selected solar panel configuration as a layer on
        Google Maps. For now, you can inspect the data in the following code block.
        <pre>{{ solarPanelConfigs[solarPanelSlider.value!].roofSegmentSummaries | json }}</pre>
      </blockquote>
      <div>
        <button mat-button matStepperPrevious (click)="flushBuildingInsights()">Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Request a quote from our construction partners" state="quote">
    <div *ngIf="false; else progressBar">
      <p>Scheduled for an upcoming release.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>

  <!-- Progress bar -->
  <ng-template #progressBar>
    <mat-progress-bar mode="query" style="margin-top: 24px;"></mat-progress-bar>
  </ng-template>

  <!-- Icon overrides -->
  <ng-template matStepperIcon="basket">
    <mat-icon>shopping_basket</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="money">
    <mat-icon>attach_money</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="location">
    <mat-icon>place</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="visibility">
    <mat-icon>visibility</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="build">
    <mat-icon>build</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="quote">
    <mat-icon>request_quote</mat-icon>
  </ng-template>
</mat-stepper>