.full {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

mat-slider {
    width: 300px;
}

code {
    font-size: 90%;
    padding: 3px;
    background-color: #f7f6f4;
}

pre {
    font-size: 90%;
    padding: 16px;
    background-color: #f7f6f4;
}

code,
pre {
    font-family: Roboto Mono, monospace;
}

blockquote {
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #ef6c00;
    background-color: #f7f6f4;
    padding: 16px;
    margin-left: 0;
    margin-right: 0;
}

blockquote>code,
blockquote>pre {
    background-color: #efede9;
}

blockquote>pre {
    max-height: 400px;
    overflow-y: scroll;
}